@charset "UTF-8";
body {
  font-family: 微軟正黑體;
}
body li {
  list-style: none;
  display: inline-block;
}

a {
  color: #2980b9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.menubuttom {
  color: #9B9B9B;
}

.header_title {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  background: #fff;
}

.index_banner {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding-left: 0%;
  padding-right: 0%;
}
.index_banner img {
  width: 100%;
}

.index_news {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  background: #ffd200;
  padding-bottom: 7%;
}
.index_news h1 {
  text-align: center;
  color: #364C9F;
  margin-top: 4%;
}

.totaltab_block {
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}

.tab_title {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
.tab_title li {
  margin-left: 4%;
  background: #fff;
  border-radius: 5px 5px 0 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 41.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
.tab_title li h2 {
  text-align: center;
  color: #364C9F;
}
.tab_title .is_on {
  background: #364c9f;
  display: block;
}
.tab_title .is_on h2 {
  color: #fff;
}

.tab_list {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding: 25px 40px;
  background: #fff;
}
.tab_list .list_content {
  padding: 20px 0 15px;
}
.tab_list .list_content .historical_line {
  background: url(../img/border_dotted_01_pc.png);
  background-position: 10px 100%;
  background-repeat: repeat-x;
}
.tab_list .list_content .historical_line br {
  clear: left;
}

.health_area {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  background: #0d9ebd;
  padding-bottom: 14%;
}
.health_area h1 {
  text-align: center;
  color: #fff;
}
@media (min-width: 0px) {
  .health_area .health_block {
    margin-left: 1%;
    margin-right: -2%;
    margin-top: 9%;
  }
}
@media (min-width: 700px) {
  .health_area .health_block {
    margin-left: 1%;
    margin-right: 4%;
    margin-top: 5%;
  }
}
@media (min-width: 0px) {
  .health_area .health_block li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: -5%;
    border-radius: 13px 13px 13px 13px;
    overflow: hidden;
  }
}
@media (min-width: 700px) {
  .health_area .health_block li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 0%;
  }
}

@media (min-width: 700px) {
  .area_block {
    height: 476px;
  }
}
.area_block img {
  width: 100%;
}
.area_block .area_text {
  line-height: 169%;
}
.area_block .area_text h3 {
  color: #000;
  padding: 3%;
  font-size: 150%;
}
.area_block .area_text p {
  color: #000;
  padding: 5%;
}

.area_block:hover {
  opacity: .8;
}

.area_block a:hover {
  text-decoration: none;
}

li:nth-child(1) .area_block {
  background: #ffde00;
}
li:nth-child(1) .area_block p {
  background: url(../img/border_dotted_02_yellow_pc.png);
  background-position: 10px 0%;
  background-repeat: repeat-x;
}

li:nth-child(2) .area_block {
  background: #91d62d;
}
li:nth-child(2) .area_block p {
  background: url(../img/border_dotted_02_green_pc.png);
  background-position: 10px 0%;
  background-repeat: repeat-x;
}

li:nth-child(3) .area_block {
  background: #fff;
}
li:nth-child(3) .area_block p {
  background: url(../img/border_dotted_02_white_pc.png);
  background-position: 10px 0%;
  background-repeat: repeat-x;
}

footer p {
  color: #666;
}

@media (min-width: 0px) {
  a {
    color: #364C9F;
    font-weight: bold;
  }

  div.menubuttom {
    display: block;
    float: right;
    margin-top: 0%;
    width: 46px;
    height: 42px;
    text-align: center;
    padding-top: 8px;
  }

  .menubuttom.fa-times {
    color: #fff;
  }

  .header_title {
    float: none;
  }

  main {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 58.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    color: #2B469B;
    float: none;
    position: relative;
    display: inline-block;
  }
  main h1 {
    margin-bottom: 3px;
    font-size: 1em;
  }
  main span {
    display: none;
  }

  .menu_mobile {
    position: absolute;
    right: 1%;
    top: 58px;
    display: none;
  }
  .menu_mobile ul {
    background: #E8EAF1;
    margin-top: 0px;
    padding-left: 0px;
    border-top: 13px solid #364C9F;
    border-bottom: 13px solid #364C9F;
  }
  .menu_mobile ul li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    float: none;
    background-color: #47b7e2;
    padding: 0px 0 5px 17px;
  }
  .menu_mobile ul li img {
    width: 100%;
  }
  .menu_mobile span:nth-child(1) {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  .menu_mobile span:nth-child(2) {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    font-size: 129%;
    font-weight: 700;
    margin-top: 3%;
  }
  .menu_mobile li:nth-child(1) {
    background-color: #ffba00;
  }
  .menu_mobile li:nth-child(2) {
    background-color: #42d87b;
  }
  .menu_mobile li:nth-child(3) {
    background-color: #ff669d;
  }
  .menu_mobile li:nth-child(4) {
    background-color: #47b7e2;
  }
  .menu_mobile .menutext {
    margin-top: 34px;
  }

  .aside_nav {
    display: none;
  }

  .foot_info p {
    clear: left;
  }

  .header_menubar {
    background: #fff;
  }
  .header_menubar ul {
    padding-left: 0px;
  }
  .header_menubar li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 30.83333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    float: none;
    display: inline-block;
    border-left: 1px solid #e6e6e5;
  }
  .header_menubar li img {
    width: 110%;
  }
  .header_menubar li:nth-child(3) {
    display: none;
  }
  .header_menubar li:nth-child(4) {
    display: none;
  }
  .header_menubar li:nth-child(6) {
    display: none;
  }

  .tab_title ul {
    padding-left: 0px;
  }
  .tab_title ul li {
    padding-left: 0px;
    margin-left: 0px;
    padding-right: 0px;
  }
  .tab_title ul li h2 {
    font-size: 1em;
  }
  .tab_title li:nth-child(2) {
    margin-left: 16.5%;
  }

  .tab_list {
    margin-left: 1%;
    width: 98%;
  }
  .tab_list .list_content .historical_line p {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 41.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    float: none;
  }
  .tab_list .list_content .historical_line p:nth-child(3) {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  .hosp_footer {
    clear: both;
  }
  .hosp_footer .foot_info {
    padding-top: 2%;
    margin-left: 5%;
    line-height: 42%;
  }

  .repeat_header {
    padding-top: 5%;
  }
  .repeat_header li {
    display: block;
    margin-top: 3%;
    padding: 0 15px;
  }
  .repeat_header p {
    -webkit-padding-start: 55px;
  }
  .repeat_header p span {
    display: block;
    line-height: 176%;
  }

  .hosp_footer {
    background-color: #EDE;
  }
}
@media (min-width: 700px) {
  div.menubuttom {
    display: none;
  }

  .real_header {
    width: auto;
    margin-left: 7%;
  }

  main {
    display: inline-block;
    vertical-align: top;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 46.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    float: none;
    color: #2B469B;
    margin-bottom: 3%;
  }
  main h1 {
    margin-bottom: 0%;
    font-size: 2em;
  }
  main span {
    display: block;
    margin-left: 5%;
  }

  .menu_mobile {
    display: none;
  }

  .aside_nav {
    display: inline-block;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    float: none;
  }
  .aside_nav .basic_info p {
    width: 100%;
    text-align: right;
  }
  .aside_nav .basic_info p span {
    color: #364c9f;
    font-size: 101%;
    font-weight: 900;
    margin-right: 1%;
    text-align: right;
  }
  .aside_nav ul {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    float: right;
    margin-top: 0px;
  }
  .aside_nav ul li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    display: inline-block;
    list-style: none;
    margin: 0;
  }
  .aside_nav ul li a {
    display: block;
    padding: 10px 5%;
    color: #0092d7;
  }
  .aside_nav form {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 41.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    display: block;
    float: right;
    padding-right: 0px;
    margin-top: 6px;
    text-align: end;
  }
  .aside_nav form input {
    border: 1px solid #d9d9d9;
    border-radius: 5px 0 0 5px;
    line-height: 20px;
    height: 28px;
    margin-right: -3%;
  }
  .aside_nav form button {
    border: 1px solid #d9d9d9;
    border-radius: 0 5px 5px 0;
    vertical-align: middle;
    height: 32px;
    color: #364C9F;
    background: #fff;
  }

  .tab_title ul li h2 {
    font-size: 1.5em;
  }

  .tab_list .list_content .historical_line p {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    float: left;
  }
  .tab_list .list_content .historical_line p:nth-child(3) {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}
@media (min-width: 700px) {
  .header_menubar {
    background: #EEE;
    box-sizing: border-box;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    border-bottom: 3px solid #e6e6e6;
  }
  .header_menubar ul {
    padding-left: 11px;
  }
  .header_menubar li {
    border: 3px solid #e6e6e5;
    width: 31.5%;
    margin: 0.5%;
    background: #fff;
    float: left;
  }
  .header_menubar li img {
    width: auto;
    margin-left: 8%;
  }
  .header_menubar li:nth-child(3) {
    display: block;
  }
  .header_menubar li:nth-child(4) {
    display: block;
  }
  .header_menubar li:nth-child(6) {
    display: block;
  }

  .hosp_footer {
    margin-left: -6%;
    margin-right: -6%;
    padding-left: 3%;
  }
  .hosp_footer .repeat_header {
    padding-top: 0%;
    padding-left: 1%;
  }
  .hosp_footer .repeat_header li {
    border-right: 1px solid #364C9F;
    margin-right: 1%;
    display: inline-block;
  }
  .hosp_footer .repeat_header p span {
    display: inline-block;
    margin-right: 2%;
  }
}
@media (min-width: 1024px) {
  .real_header {
    width: 86%;
  }

  .header_menubar {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 83.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    background: #fff;
    border-bottom: 0px solid #e6e6e6;
    margin-left: 7%;
    margin-bottom: 2%;
  }
  .header_menubar li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin: 0;
    border: 0px;
    border-left: 1px solid #e6e6e6;
    overflow: hidden;
  }
  .header_menubar li img {
    margin-left: 0%;
  }
  .header_menubar li:last-child {
    border-right: 1px solid #e6e6e6;
  }

  .hosp_footer {
    background-color: #EDE;
    margin-left: -6%;
    margin-right: -6%;
    padding-left: 3%;
  }
}
/*********************************************************cruetime**********************************************************/
.time_title {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  text-align: center;
}
.time_title h1 {
  border-top: 3px solid #094F95;
  text-align: center;
  padding-top: 3%;
  color: #333333;
}

.time_block {
  float: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-bottom: 3%;
}
.time_block h2 {
  color: #3c4298;
  border-bottom: 1px solid #4562ac;
}
.time_block h2 i {
  float: right;
}

.time_subject {
  vertical-align: text-top;
  overflow-x: auto;
}
.time_subject h3 {
  color: #0092d7;
}
.time_subject h3 i {
  color: #FFBA00;
  padding-right: 2%;
}
.time_subject h3 span {
  margin-left: 4%;
}
.time_subject .time_table {
  width: 100%;
  border-collapse: collapse;
}
.time_subject .time_table tbody {
  display: inline-block;
  width: 100%;
}
.time_subject .time_table th {
  padding: 10px;
  background: #F5F5F1;
  border: 1px solid #C8C8C8;
  vertical-align: middle;
  text-align: center;
  width: 12.7%;
}
.time_subject .time_table td {
  padding: 10px;
  border: 1px solid #C8C8C8;
  vertical-align: middle;
  text-align: center;
}
.time_subject .time_table td:nth-child(7) p, .time_subject .time_table :nth-child(8) p {
  color: #EC6286;
}

@media (min-width: 0px) {
  .time_subject {
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    float: none;
  }
  .time_subject h3 {
    text-align: center;
  }
  .time_subject h3 span {
    display: inline-block;
  }

  .time_table {
    display: none;
  }
}
@media (min-width: 701px) {
  .time_subject {
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 49.16667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    float: none;
  }
  .time_subject h3 {
    text-align: left;
  }
  .time_subject h3 span {
    display: none;
  }

  .time_table {
    display: block;
  }
}
/************************************************************goto**********************************************************/
.time_subject p {
  line-height: 214%;
}

.pay_table {
  display: block;
}

/*************************************************************team**********************************************************/
.team_block {
  margin-bottom: 0%;
}

.introduct_team {
  background: #fff;
}

.introduct_list {
  padding: 0px 0px;
}
.introduct_list .full_p {
  padding: 0px 0 15px;
}
.introduct_list .black_title {
  color: #000;
  border-left: 7px solid #4b76b5;
  overflow: hidden;
}

.intro_twoblock h3 {
  color: #000;
}
.intro_twoblock h4 {
  color: #EC6286;
}
.intro_twoblock img {
  width: 100%;
}

.download_info {
  background: url(../img/border_dotted_01_pc.png);
  background-position: 10px 100%;
  background-repeat: repeat-x;
  padding-bottom: 2%;
}
.download_info a {
  margin-left: 5%;
}

@media (min-width: 0px) {
  .full_block {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  .intro_twoblock:nth-child(1) {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  .intro_twoblock:nth-child(2) {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  .intro_twoblock:nth-child(2) .intro_content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  .intro_twoblock {
    margin-left: 0%;
  }

  .download_info li:nth-child(n) {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    float: none;
  }
}
@media (min-width: 701px) {
  .intro_twoblock:nth-child(1) {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 8.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    float: none;
    display: inline-block;
    vertical-align: top;
  }

  .intro_twoblock:nth-child(2) {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    float: none;
    display: inline-block;
    vertical-align: top;
  }
  .intro_twoblock:nth-child(2) .intro_content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  .intro_twoblock {
    margin-left: 5%;
  }

  .download_info li:nth-child(1) {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  .download_info li:nth-child(2) {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 83.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    float: none;
  }
}
